   .header-block{
    display: block;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 60px;

    @include tablet{
        height: 80px;
    }

   }

  
   
   
   .header-nav {
       display: flex;
        
   }

   header {
       border-bottom: 1px solid #ECECEC;
   }

   .nav__logo {
    padding-top: 16px;
    padding-bottom: 16px;

    @include tablet{
        padding-top: 26px;
        padding-bottom: 26px; 
    }
    @include desktop{
        padding-top: 24px;
        padding-bottom: 25px;
    }
   }

   

   .nav,
   .nav__list,
   .contacts {
       display: flex;
       align-items: center;
    
   }


   .contacts {


    @media screen and (max-width: 767.98px) {
            display: none;
        }
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       gap: 10px;
       margin-left: auto;

       

       @include desktop{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap:30px;
        margin-left: auto;
       }

   }

   .contacts__item:first-child{
    @media screen and (min-width: 768px) and (max-width:1199.98px) {
            padding-top: 20px;
        }
  

   }
 


   .contacts__item:last-child {
    @media screen and (min-width: 768px) and (max-width:1199.98px) {
            padding-bottom: 20px;
        }
   }

   .nav__list {
        
        @media screen and (max-width: 767.98px) {
                display: none;
            }

        @include tablet {
                margin-left: 88px;
            }
        @include desktop{
            margin-left: 93px;
        }
   }


   .nav__item:not(:last-child) {
       margin-right: 50px;
   }




   .header-mail {
       display: block;
       text-align: center;
   }

   .contacts__icon {
       display: inline-block;
       margin-right: 10px;
       margin-left: auto;
       fill: currentColor;

   }
   .icon-envelope{
    @media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
            max-width: 14px;
            // max-height: 10px;
        }
   }
   
    .icon-phone{
    @media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
            max-width: 10px;
            // max-height: 12px;
        }
}


   .contacts__link {
    display: none;
    
    @include tablet{
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(500, 12px, 1.67, 0.02em);
    max-height: 14px;

    transition: color 250ms var(--timing-function);
        }
      

    @include desktop{
            display: flex;
            padding-top: 32px;
            padding-bottom: 32px;
            align-items: center;
            justify-content: center;
            
         @include font(500, 14px, 1.14, 0.02em);
      }
   }



   .nav_link {
       display: flex;
       padding-top: 31px;
       padding-bottom: 31px;
       align-items: center;
       justify-content: center;

        @include font(500, 14px, 1.14, 0.02em);
      

       transition: color 250ms var(--timing-function);
   }

   .nav__list {
       color: var(--primary-text-color-theme-light);
   }

   .nav_link:hover,
   .nav_link:focus,
   .nav_link--active,
   .contacts__link:hover,
   .contacts__link:focus   
    {
       color: var(--accent-color);

   }



   .nav__item {
       position: relative;
       padding: 0;
   }

   .nav-link:hover::after,
   .nav_link--active::after {
       position: absolute;
       content: "";
       bottom: 0;
       margin: 0;
       width: 100%;
       height: 4px;
       border-radius: 2px;
       background-color: var(--accent-color);

    @media screen and (max-width: 767.98px) {
                display: none;
            }
   }




   .menu-open-btn{
    display: block;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--primary-text-color-theme-light);
    transition: fill 250ms var(--timing-function);

  
    @media screen and (min-width: 767.98px) {
            display: none;
        }

   }

  .menu-open-btn:hover,
  .menu-open-btn:focus{
    fill: var(--accent-color);
  }


  .mob-menu-block{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-main-color);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    

    transition: opacity 300ms, visibility 300ms;

    padding: 48px 40px;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    
  }

  .close-mob-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    fill: var(--primary-text-color-theme-light);
    transition: fill 250ms var(--timing-function);
    border: none;
    padding: 0;
    outline: transparent;

  }

    .close-mob-btn:hover,
    .close-mob-btn:focus{
        fill: var(--accent-color);
    }

    .mob-menu_link{
        @include font(500, 40px, 1.18, 00.02em);
        color: var(--primary-text-color-theme-light);
        transition: color 250ms var(--timing-function);

        @media screen and (max-width: 479.98px) {
            font-size: calc(.8rem + 3vmax)
            }

        
    }
    .mob-menu__item:not(:last-child){
        margin-bottom: 32px;
    }
    .mob-menu__list{
        margin-bottom: 40px;
    }

    .mob_link--active,
    .mob-menu_link:hover,
    .mob-menu_link:focus{
        color: var(--accent-color);
    }
    .mob-contacts{
        margin-bottom: 64px;

    }
    
    
    .mob-contacts-tel{
        @include font (500, 34px, 1.18, 0.02em);
        color: var(--accent-color);
        display: block;
        margin-bottom: 32px;

        @media screen and (max-width: 479.98px) {
                font-size: calc(.8rem + 2vmax)
            }


        
    }
    .mob-contacts-mail{
        @include font (500, 24px, 1.17, 0.02em);
       
        @media screen and (max-width: 479.98px) {
                font-size: calc(.8rem + 1vmax)
            }

    }
    .mob-soc-list{
        display: flex;
        gap: 10px;

        @media screen and (max-width: 479.98px) {
                flex-wrap: wrap;
               
            }
    }
    .mob-soc-link{
        @include font(500, 18px, 1.22, 0.02em);
        color: var(--accent-color);

        @media screen and (max-width: 479.98px) {
                font-size: calc(.8rem + 1vmin)
            }

    }


    .mob-soc-item{
        @media screen and (max-width: 479.98px) {
                    width: calc((100% - 30px) / 2);
                    border-right: none;
                    border-left: 1px solid rgba(33, 33, 33, 0.2);
                    padding-left: 10px;
                }
        
        @media screen and (min-width: 480px){
                border-left: 1px solid rgba(33, 33, 33, 0.2);
                padding-left: 10px;

        }
            
    }

    .mob-soc-item:first-child{
        @media screen and (min-width: 480px) {
                padding-left: 0;
                border-left: none;
            }
    }