

.employees-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;

   
}

.employees-item {

    padding-bottom: 24px;

    background-color: var(--background-main-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);


    width: 100%;
    
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
        }

}



.team-foto {
    margin-bottom: 30px;
    width: 100%;
}

.employees-name {
    margin-bottom: 10px;

    font-weight: 500;
    color: var(--primary-text-color-theme-light);
}

.employees-position,
.employees-name {
    @include font(null, 16px, 1.19, null);
 
}

.employees-position {
    margin-bottom: 16px;
}

.block-employees {
    width: 100%;
    background-color: var(--background-color-grey);

}

.employees-soc-list {
    display: flex;
    justify-content: center;
    border: none;
}

.soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;


}

.soc-item:last-child {
    margin-right: 0;
}


.employees-soc-link {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    fill: var(--icon-color);
    transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);

}

.employees-soc-link:hover,
.employees-soc-link:focus {
    fill: var(--background-main-color);
    background-color: var(--accent-color);
}