
body {
    font-family: var(--primary-font-family);
    color: var(--secondary-text-color-theme-light);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--background-main-color);
}

button {
    cursor: pointer;
}



