.section {
    // padding-top: 94px;
    // padding-bottom: 94px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;

    @include desktop{
        padding-top: 94px;
        padding-bottom: 94px;
    }


}

.section-title {
    margin-bottom: 30px;

    @include font(700, 28px, 1.18, null);
  
    text-align: center;
    color: var(--primary-text-color-theme-light);


   @include desktop{
        @include font(700, 36px, 1.2, null);
        margin-bottom: 50px;
 }

}